.jumbotron {
    background-color:#c9d6ff;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #c9d6ff;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}