$colorFondo: #c9d6ff;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $colorFondo;
    color: black;
    @include margenes(50px, 10px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $colorFondo;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 150px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}