@colorFondo: #c9d6ff;
@colorFondoAmarillo : #yellow;
@colorFondoVerde: #green;
@colorFondoRojo : #red;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.colorFondo(@color){
    background-color: @color;
}

.jumbotron {
    .colorFondo(@colorFondo);
    color: black;
    .margenes(50px, 10px);
}

footer {
    padding: 10px 10px 0 10px;
    .colorFondo(@colorFondo);
    .margenes(10px, 0px);
}

.card-hotel {
    flex: 1 150px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}